<div class="row my-5">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">

		<!-- Message -->
		<div *ngIf="message"
			 class="w-50 mx-auto text-center text-muted bg-success-subtle rounded-pill p-3">{{ message }}</div>
		<!-- Message End -->


		<!-- Charts -->
		<div class="container py-5">
			<div class="row">
				<div class="col-sm-4">
					<app-doughnut *ngIf="uniqueUrls.length > 0"
								  title="Unique Urls"
								  [labels]="['Urls']"
								  [data]="uniqueUrls"></app-doughnut>
				</div>
				<div class="col-sm-4">
					<app-line *ngIf="groupedByDivsPerUrl.length > 0"
							  title="Divs per Url"
							  [labels]="groupedByDivsPerUrl[0]"
							  [data]="groupedByDivsPerUrl[1]"></app-line>
				</div>
				<div class="col-sm-4">
					<app-bar *ngIf="groupedByMonth.length > 0"
							 title="Entries per Month"
							 [labels]="groupedByMonth[0]"
							 [data]="groupedByMonth[1]"></app-bar>
				</div>
			</div>
		</div>
		<!-- Charts End -->

		<h1 class="text-center mb-5">Div Data Collected</h1>

		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>URL</th>
						<th>Divs</th>
						<th>Date Collected</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let divCount of divCounts; index as key">
						<td>{{ key + 1 }}</td>
						<td><a href="{{ divCount.url }}"
							   target="_blank">{{ divCount.url }}</a></td>
						<td>{{ divCount.count }}</td>
						<td>{{ divCount.createdAt }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Table End -->
	</div>
	<div class="col-sm-1"></div>
</div>

<app-login (onMessage)="setMessage($event)"></app-login>